div.jx-typeahead-results {
  z-index: 8;
  position: absolute;
  border-bottom: 1px solid #203b75;
  padding: 0;
  background: #ffffff;
  width: 100%;
}

div.jx-typeahead-results a.jx-result {
  color: #222;
  display: block;
  padding: .4em .5em .45em;
  font-size: 11px;
  border-width: 0px 1px 1px;
  border-style: solid;
  border-color: #dddddd #203b75;
}

div.jx-typeahead-results a.jx-result:hover,
div.jx-typeahead-results a.focused {
  display: block;
  background: #3b5998;
  color: #ffffff;
  text-decoration: none;
}

input.jx-typeahead {
  width: 200px;
}

input.jx-typeahead-placeholder {
  color: #888888;
}


input.jx-tokenizer-input {
  outline: none;
  border: none;
  width: auto;
}

a.jx-tokenizer-token {
  background: #cfdfff;
  padding: 1px 2px;
  border: 1px solid #334466;
  margin: 1px;
}

.jx-tokenizer-x {
  padding: 0 0 0 6px;
}

.jx-tokenizer-container {
  border: 1px solid #dfdfdf;
}
